# Ignore files and directories for Docker builds

# Version control
.git
.gitignore

# Environment files
.env

# Ignore specific environment files
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# IDE and editor folders
.idea/
.vscode/

# Virtual environment folders
.venv/
venv/
env/

# Docker Compose files
compose.yaml
docker-compose.yaml

# Documentation files
LICENSE.md
README.md

# macOS specific files
.DS_Store
